
    ul.lst-kix_g74j09sdne9d-1 {
        list-style-type: none
    }

    ul.lst-kix_g74j09sdne9d-2 {
        list-style-type: none
    }

    ul.lst-kix_g74j09sdne9d-0 {
        list-style-type: none
    }

    ul.lst-kix_g74j09sdne9d-5 {
        list-style-type: none
    }

    ul.lst-kix_g74j09sdne9d-6 {
        list-style-type: none
    }

    ul.lst-kix_g74j09sdne9d-3 {
        list-style-type: none
    }

    ul.lst-kix_g74j09sdne9d-4 {
        list-style-type: none
    }

    ul.lst-kix_g74j09sdne9d-7 {
        list-style-type: none
    }

    ul.lst-kix_g74j09sdne9d-8 {
        list-style-type: none
    }

    ul.lst-kix_9nl0jyjhsabw-2 {
        list-style-type: none
    }

    ul.lst-kix_9nl0jyjhsabw-3 {
        list-style-type: none
    }

    ul.lst-kix_9nl0jyjhsabw-0 {
        list-style-type: none
    }

    ul.lst-kix_9nl0jyjhsabw-1 {
        list-style-type: none
    }

    ul.lst-kix_9nl0jyjhsabw-6 {
        list-style-type: none
    }

    ul.lst-kix_9nl0jyjhsabw-7 {
        list-style-type: none
    }

    ul.lst-kix_9nl0jyjhsabw-4 {
        list-style-type: none
    }

    ul.lst-kix_9nl0jyjhsabw-5 {
        list-style-type: none
    }

    ul.lst-kix_9nl0jyjhsabw-8 {
        list-style-type: none
    }

    .lst-kix_g74j09sdne9d-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_9nl0jyjhsabw-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_elylvurccg6y-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_brywkvouv3dp-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_g74j09sdne9d-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_elylvurccg6y-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_elylvurccg6y-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_g74j09sdne9d-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_9nl0jyjhsabw-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_elylvurccg6y-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_elylvurccg6y-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_4oh0drem6qql-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_4oh0drem6qql-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_4oh0drem6qql-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_rtpfci3gieqf-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_jiidg8hbyryz-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_jiidg8hbyryz-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_oogmdv23fb5l-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_rtpfci3gieqf-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_jiidg8hbyryz-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_jiidg8hbyryz-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_oogmdv23fb5l-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_4oh0drem6qql-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_rtpfci3gieqf-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_rtpfci3gieqf-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_txyoqlrl2kwh-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_oogmdv23fb5l-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_oogmdv23fb5l-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_rtpfci3gieqf-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_jiidg8hbyryz-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_txyoqlrl2kwh-0>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_elylvurccg6y-8 {
        list-style-type: none
    }

    ul.lst-kix_elylvurccg6y-7 {
        list-style-type: none
    }

    ul.lst-kix_elylvurccg6y-6 {
        list-style-type: none
    }

    ul.lst-kix_4oh0drem6qql-0 {
        list-style-type: none
    }

    ul.lst-kix_elylvurccg6y-5 {
        list-style-type: none
    }

    ul.lst-kix_4oh0drem6qql-1 {
        list-style-type: none
    }

    ul.lst-kix_elylvurccg6y-4 {
        list-style-type: none
    }

    ul.lst-kix_elylvurccg6y-3 {
        list-style-type: none
    }

    ul.lst-kix_elylvurccg6y-2 {
        list-style-type: none
    }

    .lst-kix_brywkvouv3dp-7>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_elylvurccg6y-1 {
        list-style-type: none
    }

    ul.lst-kix_elylvurccg6y-0 {
        list-style-type: none
    }

    ul.lst-kix_4oh0drem6qql-6 {
        list-style-type: none
    }

    ul.lst-kix_7efktyrvhpsr-2 {
        list-style-type: none
    }

    ul.lst-kix_4oh0drem6qql-7 {
        list-style-type: none
    }

    ul.lst-kix_7efktyrvhpsr-3 {
        list-style-type: none
    }

    ul.lst-kix_4oh0drem6qql-8 {
        list-style-type: none
    }

    ul.lst-kix_7efktyrvhpsr-4 {
        list-style-type: none
    }

    .lst-kix_txyoqlrl2kwh-6>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_7efktyrvhpsr-5 {
        list-style-type: none
    }

    ul.lst-kix_4oh0drem6qql-2 {
        list-style-type: none
    }

    ul.lst-kix_4oh0drem6qql-3 {
        list-style-type: none
    }

    ul.lst-kix_4oh0drem6qql-4 {
        list-style-type: none
    }

    ul.lst-kix_7efktyrvhpsr-0 {
        list-style-type: none
    }

    ul.lst-kix_4oh0drem6qql-5 {
        list-style-type: none
    }

    .lst-kix_brywkvouv3dp-5>li:before {
        content: "\0025a0  "
    }

    ul.lst-kix_7efktyrvhpsr-1 {
        list-style-type: none
    }

    .lst-kix_txyoqlrl2kwh-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_txyoqlrl2kwh-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_oogmdv23fb5l-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_g74j09sdne9d-7>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_7efktyrvhpsr-6 {
        list-style-type: none
    }

    ul.lst-kix_7efktyrvhpsr-7 {
        list-style-type: none
    }

    ul.lst-kix_7efktyrvhpsr-8 {
        list-style-type: none
    }

    .lst-kix_brywkvouv3dp-3>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_n8m41kfhu4ik-0 {
        list-style-type: none
    }

    ul.lst-kix_n8m41kfhu4ik-1 {
        list-style-type: none
    }

    ul.lst-kix_n8m41kfhu4ik-2 {
        list-style-type: none
    }

    ul.lst-kix_n8m41kfhu4ik-7 {
        list-style-type: none
    }

    ul.lst-kix_n8m41kfhu4ik-8 {
        list-style-type: none
    }

    ul.lst-kix_n8m41kfhu4ik-3 {
        list-style-type: none
    }

    ul.lst-kix_n8m41kfhu4ik-4 {
        list-style-type: none
    }

    ul.lst-kix_n8m41kfhu4ik-5 {
        list-style-type: none
    }

    ul.lst-kix_n8m41kfhu4ik-6 {
        list-style-type: none
    }

    .lst-kix_n8m41kfhu4ik-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_n8m41kfhu4ik-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_n8m41kfhu4ik-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_n8m41kfhu4ik-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_n8m41kfhu4ik-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_n8m41kfhu4ik-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_n8m41kfhu4ik-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_7efktyrvhpsr-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_7efktyrvhpsr-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_7efktyrvhpsr-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_7efktyrvhpsr-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_4oh0drem6qql-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_7efktyrvhpsr-5>li:before {
        content: "\0025a0  "
    }

    ul.lst-kix_brywkvouv3dp-2 {
        list-style-type: none
    }

    ul.lst-kix_brywkvouv3dp-1 {
        list-style-type: none
    }

    ul.lst-kix_brywkvouv3dp-4 {
        list-style-type: none
    }

    ul.lst-kix_brywkvouv3dp-3 {
        list-style-type: none
    }

    ul.lst-kix_brywkvouv3dp-6 {
        list-style-type: none
    }

    ul.lst-kix_brywkvouv3dp-5 {
        list-style-type: none
    }

    .lst-kix_7efktyrvhpsr-0>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_brywkvouv3dp-8 {
        list-style-type: none
    }

    ul.lst-kix_brywkvouv3dp-7 {
        list-style-type: none
    }

    .lst-kix_7efktyrvhpsr-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_7efktyrvhpsr-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_7efktyrvhpsr-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_n8m41kfhu4ik-1>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_brywkvouv3dp-0 {
        list-style-type: none
    }

    .lst-kix_n8m41kfhu4ik-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_9nl0jyjhsabw-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_9nl0jyjhsabw-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_9nl0jyjhsabw-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_9nl0jyjhsabw-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_g74j09sdne9d-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_9nl0jyjhsabw-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_brywkvouv3dp-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_elylvurccg6y-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_9nl0jyjhsabw-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_elylvurccg6y-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_g74j09sdne9d-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_9nl0jyjhsabw-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_elylvurccg6y-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_brywkvouv3dp-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_elylvurccg6y-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_g74j09sdne9d-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_4oh0drem6qql-2>li:before {
        content: "\0025a0  "
    }

    ul.lst-kix_jiidg8hbyryz-3 {
        list-style-type: none
    }

    .lst-kix_4oh0drem6qql-4>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_jiidg8hbyryz-2 {
        list-style-type: none
    }

    ul.lst-kix_jiidg8hbyryz-5 {
        list-style-type: none
    }

    ul.lst-kix_jiidg8hbyryz-4 {
        list-style-type: none
    }

    ul.lst-kix_jiidg8hbyryz-7 {
        list-style-type: none
    }

    ul.lst-kix_jiidg8hbyryz-6 {
        list-style-type: none
    }

    .lst-kix_jiidg8hbyryz-5>li:before {
        content: "\0025a0  "
    }

    ul.lst-kix_jiidg8hbyryz-8 {
        list-style-type: none
    }

    .lst-kix_rtpfci3gieqf-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_4oh0drem6qql-8>li:before {
        content: "\0025a0  "
    }

    ul.lst-kix_txyoqlrl2kwh-8 {
        list-style-type: none
    }

    .lst-kix_rtpfci3gieqf-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_4oh0drem6qql-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_jiidg8hbyryz-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_oogmdv23fb5l-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_rtpfci3gieqf-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_jiidg8hbyryz-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_oogmdv23fb5l-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_rtpfci3gieqf-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_jiidg8hbyryz-3>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_rtpfci3gieqf-1 {
        list-style-type: none
    }

    ul.lst-kix_rtpfci3gieqf-0 {
        list-style-type: none
    }

    ul.lst-kix_rtpfci3gieqf-3 {
        list-style-type: none
    }

    ul.lst-kix_oogmdv23fb5l-6 {
        list-style-type: none
    }

    ul.lst-kix_rtpfci3gieqf-2 {
        list-style-type: none
    }

    ul.lst-kix_oogmdv23fb5l-5 {
        list-style-type: none
    }

    ul.lst-kix_rtpfci3gieqf-5 {
        list-style-type: none
    }

    ul.lst-kix_oogmdv23fb5l-8 {
        list-style-type: none
    }

    ul.lst-kix_rtpfci3gieqf-4 {
        list-style-type: none
    }

    .lst-kix_txyoqlrl2kwh-1>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_oogmdv23fb5l-7 {
        list-style-type: none
    }

    ul.lst-kix_rtpfci3gieqf-7 {
        list-style-type: none
    }

    ul.lst-kix_rtpfci3gieqf-6 {
        list-style-type: none
    }

    ul.lst-kix_rtpfci3gieqf-8 {
        list-style-type: none
    }

    li.li-bullet-0:before {
        margin-left: -18pt;
        white-space: nowrap;
        display: inline-block;
        min-width: 18pt
    }

    .lst-kix_txyoqlrl2kwh-7>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_txyoqlrl2kwh-1 {
        list-style-type: none
    }

    .lst-kix_brywkvouv3dp-6>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_txyoqlrl2kwh-0 {
        list-style-type: none
    }

    .lst-kix_g74j09sdne9d-8>li:before {
        content: "\0025a0  "
    }

    ul.lst-kix_txyoqlrl2kwh-3 {
        list-style-type: none
    }

    ul.lst-kix_txyoqlrl2kwh-2 {
        list-style-type: none
    }

    ul.lst-kix_txyoqlrl2kwh-5 {
        list-style-type: none
    }

    ul.lst-kix_txyoqlrl2kwh-4 {
        list-style-type: none
    }

    ul.lst-kix_txyoqlrl2kwh-7 {
        list-style-type: none
    }

    .lst-kix_txyoqlrl2kwh-5>li:before {
        content: "\0025a0  "
    }

    ul.lst-kix_txyoqlrl2kwh-6 {
        list-style-type: none
    }

    .lst-kix_oogmdv23fb5l-3>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_oogmdv23fb5l-2 {
        list-style-type: none
    }

    ul.lst-kix_oogmdv23fb5l-1 {
        list-style-type: none
    }

    .lst-kix_g74j09sdne9d-6>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_oogmdv23fb5l-4 {
        list-style-type: none
    }

    .lst-kix_brywkvouv3dp-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_brywkvouv3dp-4>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_oogmdv23fb5l-3 {
        list-style-type: none
    }

    ul.lst-kix_jiidg8hbyryz-1 {
        list-style-type: none
    }

    ul.lst-kix_oogmdv23fb5l-0 {
        list-style-type: none
    }

    .lst-kix_txyoqlrl2kwh-3>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_jiidg8hbyryz-0 {
        list-style-type: none
    }

    .lst-kix_oogmdv23fb5l-1>li:before {
        content: "\0025cb  "
    }

    ol {
        margin: 0;
        padding: 0
    }

    table td,
    table th {
        padding: 0
    }

    .c4 {
        border-right-style: solid;
        padding: 5pt 5pt 5pt 5pt;
        border-bottom-color: #000000;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #000000;
        vertical-align: top;
        border-right-color: #000000;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 225.7pt;
        border-top-color: #000000;
        border-bottom-style: solid
    }

    .c1 {
        margin-left: 72pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.1500000000000001;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c3 {
        margin-left: 36pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.1500000000000001;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c0 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c14 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: italic
    }

    .c15 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c5 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11.5pt;
        font-family: "Arial";
        font-style: normal
    }

    .c16 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11.5pt;
        font-family: "Arial";
        font-style: italic
    }

    .c22 {
        color: #444444;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11.5pt;
        font-family: "Arial";
        font-style: normal
    }

    .c6 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.1500000000000001;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c19 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c20 {
        border-spacing: 0;
        border-collapse: collapse;
        margin-right: auto
    }

    .c12 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        text-align: left
    }

    .c23 {
        max-width: 451.4pt;
        padding: 72pt 72pt 72pt 72pt
    }

    .c10 {
        padding: 0;
        margin: 0
    }

    .c11 {
        text-indent: 36pt
    }

    .c18 {
        margin-left: 108pt
    }

    .c2 {
        padding-left: 0pt
    }

    .c21 {
        vertical-align: super
    }

    .c7 {
        background-color: #ffffff
    }

    .c13 {
        height: 0pt
    }

    .c9 {
        height: 11pt
    }

    .c17 {
        font-weight: 700
    }

    .c8 {
        background-color: #ffff00
    }

    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }
